DB_URL = "your database connection url here"
DOMAIN = "your domain here"
TEMPLATE_DIR = "your absolute path here"
DEFAULT_AVATAR_URL = "url to image here"
DEBUG = False # set to true to show debug output