<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
  <head>
    <title>Platformer - All Levels</title>
  </head>
  <body>
    <h1>Platformer - All Levels</h1>
    <h2>Welcome, ${player}</h2>
    <table>
    <tr><th>Title</th><th></th><th></th><th>Last Modified</th><th>Creator</th></tr>
      ${work_list}
    </table>
    <hr/>
    <form action="newlevel.py" method="post">
      New Level Name: <input type="text" name="title"></input> <input type="submit" value="Create Level"></input>
    </form>
  </body>
</html>
