<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>${_runjumpbuild} &mdash; ${_all_levels}</title>
  </head>
  <body>
    <h1>${_runjumpbuild} &mdash; ${_all_levels}</h1>
    <h2>${_welcome}, ${player}</h2>
    <h3>${_published_levels}</h3>
    <table>
    <tr><th>${_title}</th><th></th><th>${_last_modified}</th><th>${_creator}</th><th>${_your_time}</th><th>${_best_time}</th></tr>
      ${published_list}
    </table>
    <hr/>
    <h3>${_your_levels}</h3>
    <table>
    <tr><th>${_title}</th><th></th><th></th><th>${_last_modified}</th><th>${_published}</th><th>${_your_time}</th><th>${_best_time}</th></tr>
      ${your_list}
    </table>
    <hr/>
    <form action="newlevel.py" method="post">
      ${_new_level_name}: <input type="text" name="title"></input> <input type="submit" value="${_create_level}"></input>
    </form>
    <hr/>
    <form action="set-player-data.py" method="post">
      <h2>${_your_player_data}:</h2>
      ${_player_name}: <input type="text" name="playerName" value="${player}"/><br/>
      ${_your_avatar}: <input type="text" name="avatarURL" size="60" value="${avatarURL}"/><br/>
      <img src="${avatarURL}"/>
      <input type="submit" value="${_save_changes}"></input>
    </form>
  </body>
</html>
