<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
  <head>
    <title>RunJumpBuild - All Levels</title>
  </head>
  <body>
    <h1>RunJumpBuild - All Levels</h1>
    <h2>Welcome, ${player}</h2>
    <h3>Published Levels</h3>
    <table>
    <tr><th>Title</th><th></th><th>Last Modified</th><th>Creator</th><th>Your Time</th><th>Best Time</th></tr>
      ${published_list}
    </table>
    <hr/>
    <h3>Your Levels</h3>
    <table>
    <tr><th>Title</th><th></th><th></th><th>Last Modified</th><th>Published?</th><th>Your Time</th><th>Best Time</th></tr>
      ${your_list}
    </table>
    <hr/>
    <form action="newlevel.py" method="post">
      New Level Name: <input type="text" name="title"></input> <input type="submit" value="Create Level"></input>
    </form>
    <hr/>
    <form action="set-player-data.py" method="post">
      <h2>Your Player Data:</h2>
      Player Name: <input type="text" name="playerName" value="${player}"/><br/>
      Your Avatar: <input type="text" name="avatarURL" size="60" value="${avatarURL}"/><br/>
      <img src="${avatarURL}"/>
      <input type="submit" value="Save Changes"></input>
    </form>
  </body>
</html>
