<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Webrunner</title>
  <script src="jquery.js"></script>
  <script src="webclient_utils.js"></script>
  <script src="webrunner-world.js"></script>
  <script src="webrunner-play.js"></script>
</head>
<body>
  <p>Hi <span id="playername">${playerName}</span>! Welcome to <span id="levelName">${levelName}</span>.
     Arrow keys to move, Space bar to jump.  ${editLink} <a href="listlevels.py">Other Levels</a></p>
  <p>Time: <span id="timer"></span>&nbsp;<h2 id="output"></h2></p>
  <canvas id="game-canvas" width="800" height="600"></canvas>
  <span style="display:none;" id="avatarURL">${avatarURL}</input>
</body></html>
